<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Submit Score</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
<div id="navbar" class="nav">
    <a href="/">Demo Score Submission</a>
    <a href="https://leaderboard-server-n4pf.onrender.com">Leaderboard</a>
    <link rel="icon" type="image/x-icon" href="/static/favicon.png">


</div>

<div id="main" class="container">
    <h2>Submit Score</h2>
    <form method="post">
        Name: <input type="text" name="name" required><br>
        Score: <input type="text" name="score" required><br>
        <input type="submit" value="Submit">
    </form>
    {% if status == 200 %}
    <p>Submission successful!</p>
    {% elif status == 400 %}
    <p>Submission failed. Please try again.</p>
    {% endif %}


</div>

</body>
</html>